<div class="container">
   <div class="row">
     <div class="success11">
           <div class="message11">
                <h2 style="text-align: center">Thank you.</h2>
                <p style="font-size: 150%; text-align: center">Your Ticket will be emailed to you <br> Please feel free to contacts if you have any Problems </p>
                <a href="#!/available" class="btn btn-primary" style="text-align: center; position: relative; left: 40%;" >Book Again</a>
               
           </div>
     </div>
   </div> 
</div>